@model List<ResultUserDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kullanıcılar</h3>

@{
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Adı</th>
        <th>Kullanıcı Adı</th>
        <th>Email</th>
        <th>Roller</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.FullName</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>
                @foreach (var role in item.Roles)
                {
                    <span class="badge bg-secondary me-1">@role</span>
                    <br />
                }
            </td>
            <td>
                <a asp-area="Admin" asp-controller="Users" asp-action="AssignRole" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Rol Ata</a>
            </td>
        </tr>
    }

</table>
